html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(90, 141, 90);
  min-height: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
}

.main-container {
  grid-row: 1;
}

.control-panel {
  grid-row: 2;
  min-width: 300px;
}

.slide-arrows {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
    min-width: 270px;
}

.slide-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.slide {
  display: none;
}

.slide-active {
  display: block;
  padding: 20px;
  overflow: hidden;
}

img {
  /* max-height: 200vh; */
  object-fit: cover;
  width: 1050px;
  height: 590px;
  border-radius: 25px;
}


.slide-button {
    margin: 0px 10px;
}
